<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brandon Merry</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="relative container max-w-lg md:max-w-4xl lg:max-w-4xl mx-auto">
        <!-- Flex container -->
        <div class=" flex items-center justify-between ">
          <!-- Logo -->
          <div class="">
            <img src="./images/1-removebg-preview.png" alt="logo" />
          </div>
          <!-- Menu Items -->
          <div class="hidden space-x-10 text-lg md:flex">
            <a href="#" class="hover:text-blue-700">About</a>
            <a href="#" class="hover:text-blue-700">Portfolio</a>
            <a href="#" class="hover:text-blue-700">Services</a>
          </div>
          <!-- Button -->
          <a
            href="#"
            class="hidden p-2 px-6 pt-2 text-white bg-blue-700 rounded-full baseline hover:bg-blue-600 md:block"
            >Let's Talk</a>
  
          <!-- Hamburger Icon -->
          <button
            id="menu-btn"
            class="block hamburger md:hidden focus:outline-none"
          >
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
  
        <!-- Mobile Menu -->
        <div class="md:hidden">
          <div
            id="menu"
            class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
            <a href="#">About</a>
            <a href="#">Portfolio</a>
            <a href="#">Services</a>
          </div>
        </div>
      </nav>

    </header>
    <section class="pt-6 bg-gradient-to-br from-darkLogo to-lightLogo">
        <div
            class="lg:flex px-4 pt-9 max-w-lg md:max-w-4xl lg:max-w-4xl mx-auto"
        >
            <div class="lg:pt-16 pb-32">
                <h1
                    class="font-bold text-white text-xl xs:text-2xl lg:text-4xl leading-relaxed font-primary"
                >
                    Hi, I'm Brandon Merry | Software <br/> Engineer
                </h1>
                <p class="pt-6 text-sm text-white leading-loose lg:max-w-sm">
                    I love solving problems, building websites and contiunous learning
                </p>
                <a
                    href="#"
                    class="inline-block bg-white mt-5 px-8 py-3 text-blue-500 rounded-full font-bold uppercase font-primary tracking-wide text-sm mr-4"
                    >View Portfolio</a
                >
                <a
                    href="#"
                    class="inline-block mt-5 px-8 py-3 text-white border-2 border-white rounded-full font-bold uppercase font-primary tracking-wide text-sm"
                    >Let's Talk</a
                >
            </div>
            <img
                src="images/intro-mobile.png"
                alt=""
                class="lg:h-64 flex-shrink-0"
            />
        </div>
    </section>
  


</body>
</html>