<!DOCTYPE html>
<html lang="en"
      class="scroll-smooth">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async
          src="https://www.googletagmanager.com/gtag/js?id=G-91X7G5DLF8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-91X7G5DLF8');
  </script>
  <!-- Hotjar Tracking Code for https://www.brandonmerry.com -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 3012978, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
  <meta
        charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon"
        href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon"
        sizes="76x76"
        href="./assets/img/apple-icon.png" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet"
        href="./css/styles.css">
  <title>
    Brandon Merry
  </title>

</head>

<body>
  <!-- Navbar -->
  <nav
       class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2  navbar-expand-lg bg-white shadow">
    <div
         class="container px-4 mx-auto flex flex-wrap  justify-between">
      <div
           class=" items-center flex flex-row w-auto static justify-start">
        <a class="text-black text-xl font-bold leading-relaxed inline-block mr-2 py-2 whitespace-nowrap"
           href="./index.html">Brandon
          Merry</a>
      </div>
      <div
           class=" pt-1 uppercase  flex-grow bg-white md:pt-1.5 lg:bg-opacity-0 lg:flex lg:shadow-none">
        <ul
            class="flex  lg:flex-row list-none mr-auto">
          <li
              class="flex items-center">
            <a class=" text-gray-400 px-1 pt-4 lg:py-2 flex items-center text-xs"
               href="#portfolio">Software
              Engineer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <main>

    <!-- Hero Section -->
    <section id="hero">
      <!-- Flex Container -->
      <div class="container flex flex-col-reverse items-center py-40 mx-auto mt-10 pt-20 md:space-y-0 md:flex-row"
      >
        <!-- Left item -->
        <div class="flex flex-col mb-32 space-y-12 w-full px-4 md:w-6/12">
          <h1
            class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left"
          >
            Bring everyone together to build better products
          </h1>
          <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
            Manage makes it simple for software teams to plan day-to-day tasks
            while keeping the larger team goals in view.
          </p>
          <div class="flex justify-center md:justify-start">
            <a
              href="#"
              class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight"
              >Get Started</a
            >
          </div>
        </div>
        <!-- Image -->
        <div class="pt-10 md:w-1/2">
          <img src="/layouts/images/BranodnMerry.png" alt="" />
        </div>
      </div>
    </section>


    <!--BODY   -->
    <section
             class="mt-48 md:mt-40 pb-40 relative bg-photoGray">
      <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
           style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none"
             version="1.1"
             viewBox="0 0 2560 100"
             x="0"
             y="0">
          <polygon class="text-photoGray fill-current"
                   points="2560 0 2560 100 0 100">
          </polygon>
        </svg>
      </div>
      <!-- What i offer Section -->
      <div
           class="container mx-auto">
        <div
             class="flex flex-wrap items-center">
          <div
               class="w-full md:w-4/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
            <div
                 class="relative flex flex-col min-w-0 break-words  w-full mb-6 shadow-lg rounded-lg bg-BtnBlue">
              <img alt="..."
                   src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
                   class="w-full align-middle rounded-t-lg">
              <blockquote class="relative p-8 mb-4">
      
                <h4
                    class="text-xl underline font-bold text-white md:text-2xl ">
                  My Services
                </h4>
                <p class="text-md t mt-4 text-white">
                  I build websites optimized for your business needs that display domain expertise and convey trust to your visitors. 
                </p>
                <p class="text-md  mt-4 pb-10 text-white">
                 Discover how to stand out from your competitors, by booking a free 20-minute discovery call.
                </p>
                <a href=""mailto:BrandonMerry@protonmail.com" target="_blank" class=" text-center text-BtnBlue font-semibold px-6 py-3 rounded bg-white text-sm shadow hover:shadow-lg ">
                 Inquire now
                  </a>
              </blockquote>
            </div>
          </div>
          <div
               class="w-full md:w-7/12 px-4">
            <div
                 class="flex flex-wrap">
              <div
                   class="w-full md:w-6/12 px-4">
                <div
                     class="relative flex flex-col mt-4">
                  <div
                       class="px-4 py-5 flex-auto">
                    <div
                         class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                      <i
                         class="fas fa-laptop"></i>
            
                    </div>
                    <h6
                        class="text-lg mb-1 font-semibold">
                      High-performance websites
                    </h6>
                    <p
                       class="mb-4 text-gray-700">
                       Intentionally designed websites that not only look beautiful but get you discovered and turn visitors into customers.
                    </p>
                  </div>
                </div>
                <div
                     class="relative flex flex-col min-w-0">
                  <div
                       class="px-4 py-5 flex-auto">
                    <div
                         class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                      <i
                         class="fas fa-drafting-compass"></i>
                    </div>
                    <h6
                        class="text-lg mb-1 font-semibold">
                      Frontend Development
                    </h6>
                    <p
                       class="mb-4 text-gray-700">
                       Improve the user experience or add new features to your website to achieve your business goals.
                    </p>
                  </div>
                </div>
              </div>
              <div
                   class="w-full md:w-6/12 px-4">
                <div
                     class="relative flex flex-col min-w-0 mt-4">
                  <div
                       class="px-4 py-5 flex-auto lg:mb-7 ">
                    <div
                         class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5  shadow-lg rounded-full bg-white">
                      <i
                         class="fas fa-cubes"></i>
                    </div>
                    <h6
                        class="text-lg mb-1 font-semibold">
                        Full-Stack Development
                    </h6>
                    <p
                       class="mb-4 text-gray-700">
                      Design, develop and deploy your MVPs rapidly to test your most important features and receive feedback from your users.
                    </p>
                  </div>
                </div>
                <div
                     class="relative flex flex-col min-w-0">
                  <div
                       class="px-4 py-5 flex-auto">
                    <div
                         class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                      <i
                         class="fas fa-file-alt"></i>
                    </div>
                    <h6
                        class="text-lg mb-1 font-semibold">
                      Landing Page or Blog 
                    </h6>
                    <p
                       class="mb-4 text-gray-700">
                        Fast, reliable, secure, and SEO-friendly landing pages and blogs that you can customize yourself without any engineering knowledge.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Design Process -->
      <div class="container mx-auto overflow-hidden pb-20">
        <div  class="flex flex-wrap items-center">
          <div class="flex flex-wrap flex-col-reverse items-center pt-32 md:flex-row ">
                <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-44">
            <h3 class="text-2xl mb-2 font-semibold leading-normal md:text-3xl">
              My Methodology
            </h3>
            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
              To create a great User Experience, I follow a process that delivers value and helps you accomplish your business goals. 
            </p>
            <ul
            class="list-none mt-2 mr-2">
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    Book a discovery call to deep dive into your business and get to know you.
              </p>
              </div>
            </div>
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    I put myself in the shoes of your users to understand their needs. 
              </p>
              </div>
            </div>
          </li>
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    Take what I've learned about your business and craft multiple solutions.
              </p>
              </div>
            </div>
          </li>
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    Design an aesthetically pleasing prototype that accurately represents your brand. 
              </p>
              </div>
            </div>
          </li>
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    Build an optimized website that follows modern web practices.
              </p>
              </div>
            </div>
          </li>
          <li
              class="py-2 ">
            <div
                 class="flex items-center">
              <div>
                <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                     class="fas fa-circle"></i></span>
              </div>
              <div>
                <p
                    class="black text-lg">
                    After completion and approval, your website will be ready to be deployed. 
              </p>
              </div>
            </div>
          </li>
        
        </ul>
          
          </div>
       <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
              <div  class="justify-center flex flex-wrap relative">
                <div class="my-4 w-full lg:w-6/12 px-4">
                    <div class="bg-BtnBlue shadow-lg rounded-lg text-center p-8">
                        <img alt="..."
                            class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                            src="/layouts/images/icon png/loupe.png">
                        <p class="text-lg text-white mt-4 font-semibold">
                           Explore
                        </p>
              
                    </div>
                    <div
                         class="bg-BtnBlue shadow-lg rounded-lg text-center p-8 mt-8">
                      <img alt="..."
                           class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                           src="/layouts/images/icon png/requirement.png">
                      <p
                         class="text-lg text-white mt-4 font-semibold">
                         Frame
                      </p>
                    </div>
                    <div
                         class="bg-BtnBlue shadow-lg rounded-lg text-center p-8 mt-8">
                      <img alt="..."
                           class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                           src="/layouts/images/icon png/idea.png">
                      <p
                         class="text-lg text-white mt-4 font-semibold">
                        Imagine
                      </p>
                    </div>
                </div>
                <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
                  <div class="bg-BtnBlue shadow-lg rounded-lg text-center p-8">
                      <img alt="..."
                          class="shadow-md rounded-full m-4 max-w-full w-16 mx-auto p-2 bg-white"
                          src="/layouts/images/icon png/ux-design.png">
                      <p class="text-lg text-white mt-4 font-semibold">
                         Design
                      </p>
                  </div>
                  <div
                       class="bg-BtnBlue shadow-lg rounded-lg text-center p-8 mt-8">
                    <img alt="..."
                         class="shadow-md rounded-full max-w-full w-16 mx-auto  p-2 bg-white"
                         src="/layouts/images/icon png/coding.png">
                    <p
                       class="text-lg text-white mt-4 font-semibold">
                       Build
                    </p>
                  </div>
                  <div
                       class="bg-BtnBlue shadow-lg rounded-lg text-center p-8 mt-8">
                    <img alt="..."
                         class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                         src="/layouts/images/icon png/startup (2).png">
                    <p
                       class="text-lg text-white mt-4 font-semibold">
                       Launch
                    </p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- start of Portfolio  -->
        <div
             class="justify-center text-center flex flex-wrap mt-24 pt-48">
          <div
               class="w-full md:w-6/12 px-12 md:px-4">
            <h2
                class="font-semibold text-4xl">
              Featured Work
            </h2>

          </div>
        </div>
        <div
             class="container mx-auto px-4 pt-20">
          <div
               class="px-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            <!--Card 1-->
            <div
                 class="rounded overflow-hidden shadow-lg">
              <img class="w-full"
                   src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80" " alt="
                   Mountain">
              <div
                   class="px-6 py-4">
                <div
                     class="font-bold text-xl mb-2">
                  Mountain
                </div>
                <p
                   class="text-gray-700 text-base">
                  Lorem
                  ipsum
                  dolor
                  sit
                  amet,
                  consectetur
                  adipisicing
                  elit.
                  Voluptatibus
                  quia,
                  Nonea!
                  Maiores
                  et
                  perferendis
                  eaque,
                  exercitationem
                  praesentium
                  nihil.
                </p>
              </div>
            </div>
            <!--Card 2-->
            <div
                 class="rounded overflow-hidden shadow-lg">
              <img class="w-full"
                   src="/river.jpg"
                   alt="River">
              <div
                   class="px-6 py-4">
                <div
                     class="font-bold text-xl mb-2">
                  River
                </div>
                <p
                   class="text-gray-700 text-base">
                  Lorem
                  ipsum
                  dolor
                  sit
                  amet,
                  consectetur
                  adipisicing
                  elit.
                  Voluptatibus
                  quia,
                  Nonea!
                  Maiores
                  et
                  perferendis
                  eaque,
                  exercitationem
                  praesentium
                  nihil.
                </p>
              </div>
            </div>

            <!--Card 3-->
            <div
                 class="rounded overflow-hidden shadow-lg">
              <img class="w-full"
                   src="/forest.jpg"
                   alt="Forest">
              <div
                   class="px-6 py-4">
                <div
                     class="font-bold text-xl mb-2">
                  Forest
                </div>
                <p
                   class="text-gray-700 text-base">
                  Lorem
                  ipsum
                  dolor
                  sit
                  amet,
                  consectetur
                  adipisicing
                  elit.
                  Voluptatibus
                  quia,
                  Nonea!
                  Maiores
                  et
                  perferendis
                  eaque,
                  exercitationem
                  praesentium
                  nihil.
                </p>
              </div>
            </div>
          </div>
        </div>

    </section>



    <!-- About Me -->
    <section id="#about"
             class="relative py-40 ">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
           style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none"
             version="1.1"
             viewBox="0 0 2560 100"
             x="0"
             y="0">
          <polygon class="text-white fill-current"
                   points="2560 0 2560 100 0 100">
          </polygon>
        </svg>
      </div>
      <div
           class="container mx-auto  ">
        <div
             class="items-center flex flex-wrap">
          <div
               class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <img alt="..."
                 class="max-w-full rounded-lg shadow-lg"
                 src="/layouts/images/BranodnMerry.png">
          </div>
          <div
               class="w-full pt-10 md:w-6/12 ml-auto mr-auto px-4">
            <div
                 class="md:pr-6">
              <h3
                  class="text-4xl font-bold pb-4">
              Hi, I'm Brandon!
              </h3>
              <h4 class="text-xl font-semibold ">
                I'm a freelance Website Developer. 
              </h4>
              <p
                 class="mt-4 text-lg leading-relaxed text-slate-500">
                  During the last year, I started offering professional services to help businesses create a digital platform that allows them to broadcast their brand message to a large audience. 
              </p>
              <p
                 class="mt-4 text-lg leading-relaxed text-slate-500">
               I enjoy reading/listening to books about entrepreneurship and investment, learning about green technology, making drip coffee, hiking, and explore districts for unique food dishes. 
              </p>
              <ul
                  class="list-none mt-2">
                <li
                    class="py-2">
                  <div
                       class="flex items-center">
                    <div>
                      <span
                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue  mr-3"><i
                           class="fas fa-user-graduate"></i></span>
                    </div>
                    <div>
                      <h4
                          class="text-slate-500">
                          Bachelor in Business Economics
                    </div>
                  </div>
                </li>
                <li
                    class="py-2">
                  <div
                       class="flex items-center">
                    <div>
                      <span
                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-BtnBlue mr-3"><i class="fas fa-passport"></i></span>
                    </div>
                    <div>
                      <h4
                          class="text-slate-500">
                        US citizen
                      </h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- CTA Above form Section -->
    <section
             class="pb-20 relative block bg-BtnBlue">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none  -mt-20"
           style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none"
             version="1.1"
             viewBox="0 0 2560 100"
             x="0"
             y="0">
          <polygon class="text-BtnBlue fill-current"
                   points="2560 0 2560 100 0 100">
          </polygon>
        </svg>
      </div>
      <div
           class="container mx-auto px-4 pt-10 pb-10 lg:pt-24 lg:pb-64">
        <div
             class="flex flex-wrap text-center justify-center">
          <div
               class="w-full lg:w-8/12 px-4">
            <h2
                class="text-2xl md:text-5xl font-semibold text-white">
              Want to work together?
            </h2>
          </div>
          <div class="w-full lg:w-7/12 px-4">
            <h2
                class="text-2xl md:text-5xl py-4 font-bold text-white">
              Let's get started on your next project! 
            </h2>
            
          </div>
        </div>
      </div>
    </section>


    <!-- Form  -->
    <section
             class="relative block py-24 mt-15 lg:pt-0 bg-BtnBlue">
      <div
           class="container mx-auto px-4">
        <div
             class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
          <div
               class="w-full lg:w-6/12 px-4">
            <div
                 class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200">
              <div
                   class="flex-auto p-5 lg:p-10">
                <p
                   class="leading-relaxed mt-1 mb-4 text-slate-500">
                    Complete this form and I will get back to you in 24 hours.
                </p>
                <div
                     class="relative w-full mb-3 mt-8">
                  <label class="block uppercase text-slate-600 text-xs font-bold mb-2"
                         for="full-name">Full
                    Name</label><input
                         type="text"
                         class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                         placeholder="Full Name">
                </div>
                <div
                     class="relative w-full mb-3">
                  <label class="block uppercase text-slate-600 text-xs font-bold mb-2"
                         for="email">Email</label><input
                         type="email"
                         class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                         placeholder="example@email.com">
                </div>
                <div
                     class="relative w-full mb-3">
                  <label class="block uppercase text-slate-600 text-xs font-bold mb-2"
                         for="message">Message</label><textarea
                            rows="4"
                            cols="80"
                            class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                            placeholder="Type a message..."></textarea>
                </div>
                <div
                     class="text-center mt-6">
                  <button class="bg-slate-800 text-white active:bg-slate-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                          type="button">Send
                    Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>

  <footer
          class="relative bg-footGray pt-8 pb-6">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none  -mt-20"
         style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden"
           xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="none"
           version="1.1"
           viewBox="0 0 2560 100"
           x="0"
           y="0">
        <polygon class="text-footGray fill-current"
                 points="2560 0 2560 100 0 100">
        </polygon>
      </svg>
    </div>
    <div
         class="container mx-auto px-4 ">
      <div
           class="flex flex-wrap ">
        <div
             class="w-full lg:w-6/12 px-4">
          <h4
              class="text-2xl font-semibold">
            Feeling social?
          <h5
              class="text-lg mt-0 mb-2 text-blueGray-600">
            Connect
            with
            me
            on
            any
            of
            these
            platforms
          </h5>
          <div
               class="mt-6 lg:mb-0 mb-6">
            <button class="bg-white text-BtnBlue shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                    type="button">
              <a target="_blank"
                 href="https://www.linkedin.com/in/brandonmerry/"><i
                   class="fab fa-linkedin"></i></a>
            </button>
            <button class="bg-white text-BtnBlue shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                    type="button">
              <a target="_blank"
                 href="https://twitter.com/BrandonMerryBKK"><i
                   class="fab fa-twitter"></i></a>
            </button>
            <button class="bg-white text-BtnBlue shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                    type="button">
              <a target="_blank"
                 href="https://angel.co/u/brandon-merry-1">
                <i
                   class="fab fa-angellist"></i></a>
            </button>
            <button class="bg-white text-BtnBlue shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                    type="button">
              <a target="_blank"
                 href="mailto: BrandonMerry@protonmail.com"><i
                   class="fab fa-github"></i></a>
            </button>
          </div>
        </div>
        <div
             class="w-full lg:w-6/12 px-4">
          <div
               class="flex flex-row lg:flex-wrap items-top mb-6">
            <div
                 class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
              <span
                    class="block uppercase text-slate-700 text-lg font-semibold mb-2">Quick
                Links</span>
              <ul
                  class="list-unstyled">
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#about">About
                    Me</a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#portfolio">Portfolio</a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#"
                     target="_blank">Github</a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#blog">
                    Blog</a>
                </li>
              </ul>
            </div>
            <div
                 class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
              <span
                    class="block uppercase text-slate-700 text-lg font-semibold mb-2">
                My
                Services</span>
              <ul
                  class="list-unstyled">
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#"
                     target="_blank">Front
                    End
                    Development
                  </a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#"
                     target="_blank">Full-Stack
                    Development
                  </a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#"
                     target="_blank">Landing
                    Page
                    &amp;
                    Blog</a>
                </li>
                <li>
                  <a class="text-slate-600 hover:text-BtnBlue font-semibold block pb-2 text-sm"
                     href="#"
                     target="_blank">WordPress
                    Development</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr
          class="my-6 border-gray-400" />
      <div
           class="flex flex-wrap items-center justify-center">
        <div
             class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div
               class="text-sm text-gray-600 font-semibold py-1">
            Brandon
            Merry
            <a href="Brandonmerry.com"
               class="text-gray-600 hover:text-gray-900">Copyright
              ©
              2022
              v.1
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>